<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>Kaptcha</servlet-name>
  	<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  	<!--init-param>图片配置</init-param-->
  </servlet>
  <servlet-mapping>
  	<servlet-name>Kaptcha</servlet-name>
  	<url-pattern>/randomcode.jpg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>edu.sdut.Servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/servlet/ServletLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletReg</servlet-name>
    <servlet-class>edu.sdut.Servlet.ServletReg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>edu.sdut.Servlet.AddGoods</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletReg</servlet-name>
    <url-pattern>/servlet/ServletReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/servlet/AddGoods</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>AllFilter</filter-name>
  	<filter-class>edu.sdut.filter.AllFilter</filter-class>
  	<init-param>
  		<param-name>nologin</param-name>
  		<param-value>checkcode.jsp;userNO.jsp;randomcode.jpg;index.jsp;login.jsp;reg.jsp;ServletLogin;ServletReg</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>AllFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  	

</web-app>
